[submodule "2D-DECT"]
	path = 2D-DECT
	url = https://github.com/vtsynergy/2D-DECT
[submodule "Analysis-AI"]
	path = Analysis-AI
	url = https://github.com/vtsynergy/Analysis-AI
[submodule "3D-DECT"]
	path = 3D-DECT
	url = https://github.com/vtsynergy/3D-DECT.git
